@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  ol,
  ul, 
  li {
    list-style: none;
  }
  
  html {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
      background: rgba(22, 22, 22, 0.884);      
  }


 /*=================================================
 
 ===================================================*/


 
.navHeader {
    background: brown;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    z-index: 1;
   
}

@media (min-width: 700px) {
    .navHeader {
        height: 20vh;
        font-family: 'Comfortaa', cursive;
        font-size: 4rem;
        color: white;
        padding: 3rem;
    }
}



@media (max-width: 699px) { 
    .navHeader {
        height: 15vh;
        font-family: 'Comfortaa', cursive;
        font-size: 3rem;
        color: white;
        padding: 2rem;
        
    }
}

 /*=================================================
 
 ===================================================*/

/* .title {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    color: white;
    padding: 3rem;
} */


.mainBody {
    margin-top: 5rem;
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#profileCard:hover{
transform: scale(1.3);
}