@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  ol,
  ul, 
  li {
    list-style: none;
  }
  
  html {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body {
      background: rgba(22, 22, 22, 0.884);      
  }


 /*=================================================
 
 
 ===================================================*/


.navHeader {
    background: brown;
    width: 100vw;
    height: 20vh;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    color: white;
    padding: 3rem;
    display: flex;
    align-items: center;
   
}

/* .title {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    color: white;
    padding: 3rem;
} */


.mainBody {
    margin: 3rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

